<div class="container py-xxl-5">
  <div class="row">
    <div class="col-md-12">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card card-outline-secondary">
            <div class="card-header">
              <h3 class="m-2">Sign Up</h3>
            </div>
            <div class="card-body">
              <form autocomplete="off" class="form" role="form" [formGroup]="validateForm">

                <div class="form-group">
                  <label for="inputName" class="fs-6 mb-1">Name</label>
                  <input class="form-control" id="inputName" placeholder="Full name" type="text" formControlName="name">
                  <div *ngIf="validateForm.get('name')?.invalid && validateForm.get('name')?.touched" class="text-danger">
                    Name is required.
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputEmail3" class="fs-6 mb-1 mt-3">Email</label>
                  <input class="form-control" id="inputEmail3" placeholder="Email" required="" type="email" formControlName="email">
                  <div *ngIf="validateForm.get('email')?.invalid && validateForm.get('email')?.touched" class="text-danger">
                    Enter a valid email address.
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputPassword3" class="fs-6 mb-1 mt-3">Password</label>
                  <input class="form-control" id="inputPassword3" placeholder="Password" required="" type="password" formControlName="password" >
                  <small class="form-text text-muted" id="passwordHelpBlock">Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.</small>
                  <div *ngIf="validateForm.get('password')?.invalid && validateForm.get('password')?.touched" class="text-danger">
                    Password must be 8-20 characters long and contain both letters and numbers.
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputVerify3" class="fs-6 mb-1 mt-3">Verify</label>
                  <input class="form-control" id="inputVerify3" placeholder="Password (again)" required type="password" formControlName="confirmPassword">
                  <div *ngIf="validateForm.get('confirmPassword')?.invalid && validateForm.get('confirmPassword')?.touched" class="text-danger">
                    Please confirm your password.
                  </div>
                </div>

                <div class="form-group float-end mt-3">
                  <button class="btn btn-primary btn-lg btnHover" type="submit" [disabled]="validateForm.invalid" (click)="register()">Register</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div><!--/col-->
  </div><!--/row-->
</div><!--/container-->

