<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a style="color: white; margin-left:50px; font-size: 28px; font-weight: bolder;"
  href="index.html">Online Shop</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse me-5" id="navbarTogglerDemo02">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item me-3">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item me-3">
        <div>
          <button type="button" routerLink="/register" routerLinkActive="active" class="btn btn-outline-primary btnHover">Register</button>
        </div>
      </li>
      <!--  <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0" class="mobile-sidenav">-->
      <!--    <ul class="nav-links" nz-menu nzTheme="dark" nzMode="inline">-->
      <!--      <li nz-menu-item>-->
      <!--        <a nz-button nzType="link" routerLink="/register" routerLinkActive="active">Sign Up2</a>-->
      <!--      </li>-->
      <!--    </ul>-->
      <!--  </nz-sider>-->
    </ul>

  </div>
</nav>
